.blocked {
    background-image: var(--pieces-image-url);
    background-size: 600% 200%;

    width: var(--piece-width);
    height: var(--piece-height);

    opacity: 0.25;
    visibility: hidden;
}

.legalblock {
    visibility: visible;
}

.blocking {
    opacity: 1;
    visibility: visible;
}

.blocking_container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-left: 2vw;

    grid-area: blocking;
}

.blockings {
    position: relative;

    background-size: 100%;

    display: grid;
    grid-template-areas:
        'king'
        'knight'
        'queen'
        'bishop'
        'rook'
        'pawn';
}

#blocking_undo {
    position: absolute;
    top: 100%;
    width: var(--piece-width);
    height: var(--piece-height);

    font-size: var(--piece-width);

    display: flex;
    justify-content: center;
    align-items: center;

    border: 0px;
    padding: 0px;

    font-family: Chess V3;

    color: white;
    background-color: transparent;
}

#block1 {
    grid-area: king;
}
#block2 {
    grid-area: queen;
}
#block3 {
    grid-area: bishop;
}
#block4 {
    grid-area: knight;
}
#block5 {
    grid-area: rook;
}
#block6 {
    grid-area: pawn;
}

.blockings.white div {
    background-position-y: 0%;
}

.blockings.black div {
    background-position-y: 100%;
}

/* Font face taken from https://www.chess.com */
@font-face {
    font-display: block;
    font-family: Chess V3;
    font-weight: 400;
    src: url(/fonts/chessglyph.woff2) format('woff2'), url(/fonts/chessglyph.woff) format("woff");
}

#blocking_undo::before {
    content: "\004C";
    font-family: Chess V3;
}
