.highlight {
    opacity: 0.25;
    border-radius: 100%;
    z-index: 3;
}

.highlight:not(.capture){
    background-color: var(--highlight-color);
    background-clip: content-box;
    box-sizing: border-box;
    padding: 4.2%;
}

.highlight.capture {
    border: 8px solid var(--highlight-color);
    box-sizing: border-box;
}

.squareHighlight {
    background-color: var(--square-highlight-color);
    opacity: 0.5;
    z-index: 0;
    will-change: transform;
}
