body {
    margin: 0px;
    min-height: 100vh;
    box-shadow: inset 0 0 40px 0px #333;
    background-color: #222;
    color: #EEE;
}

@media (min-width: 1110px){
    #container {
        grid-template-areas:
            '.  plyr_up    plyr_up     .'
            '.  game       blocking    panel'
            '.  plyr_dn    plyr_dn     .'
            '.  extra      extra       .';
        grid-template-columns: 1fr min-content min-content 1fr;
    }
    #blocking_undo {
		font-size: 7.4vh;
	}
}

@media (max-width: 1110px){
    #container {
        grid-template-areas:
            'plyr_up    plyr_up'
            'game       blocking'
            'plyr_dn    plyr_dn'
            'panel      panel'
            'extra      extra';
        grid-template-columns: min-content min-content;
        grid-template-rows: min-content min-content;
        width: min-content;
    }
}

@media (min-aspect-ratio: 9/8){
    #container {
        --game-width: calc(var(--zoom) * 1vh);
        --game-height: calc(var(--zoom) * 1vh);
    }
    #files, #ranks {
        font-size: 2.5vh;
    }
}

@media (max-aspect-ratio: 9/8){
    #container {
        --game-width: calc(var(--zoom) * 1vw - 3vw);
        --game-height: calc(var(--zoom) * 1vw - 3vw);
    }
    #files, #ranks {
        font-size: 2.5vw;
    }
}

#container {
    padding-top: 1vw;
}

h1 {
    margin: 0px;
}
